packages: 
  yum: 
    munin-node: []
services:
  sysvinit:
    munin-node:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          munin-node

files:
  "/etc/cron.d/munin-graphite": 
    mode: "000644"
    owner: root
    group: root
    content: | 
      # Send metrics to graphite every minute
      * * * * * root /opt/scripts/munin-graphite.sh
 
  "/opt/scripts/munin-graphite.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash

      host=127.0.0.1
      port=4949

      eval $( /opt/elasticbeanstalk/containerfiles/support/generate_env )

      # We are assuming ENVIRONMENT being defined as elasticbeanstalk environmental variable
      graphite_host="${ENVIRONMENT}-$TODO_LOGSTASH_HOST"
      graphite_port=5556

      ts=$(date +%s)
      hostname=$(curl -sm 2  http://169.254.169.254/latest/meta-data/instance-id)

      function run_cmd {
      	cmd="$1"
      	nc $host $port <<< "$cmd" | grep -v '^#'
      }

      function list {
      	run_cmd list
      }

      function fetch_all {
      	for metric in $(list) ; do 
      		run_cmd "fetch $metric" |
      		grep -v '^\.$' |
      		sed -re "s/^/$metric./g"
      	done
      }

      function send_to_graphite {
      	cat | nc $graphite_host $graphite_port
      } 

      function format {
      	 while IFS= read line ; do
      		source <(awk '{printf "metric=%s value=%s\n",$1,$2}' <<< "$line")
      
      		test -n "$value" || value=NaN
      		metric=$(sed -re 's/\.value$//g' <<< "$metric" )		
      
      		echo "${hostname}.${metric} ${value} ${ts}"
      	done
      }

      fetch_all | format  | send_to_graphite

