<?xml version="1.0" encoding="UTF-8"?>
<!-- Send log messages to a set of rotating files -->
<configuration>

	<appender name="STASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<fileNamePattern>/logs/%d{yyyy/MM, aux}/candlestack.%d{yyyy-MM-dd, UTC}.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>

		</rollingPolicy>

		<!-- Logstash encoder that formats events in JSON format -->
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			
			<providers>

				<timestamp />
				<message />
				<logstashMarkers />
				<stackTrace />

				<!-- provides the fields in the configured pattern -->
				<pattern>
					<!-- the pattern that defines what to include -->
					<pattern>
						{ 	"level": "%level", 
							"src.class" : "%C{0}", 
							"src.line" : "%line", 
							"ip" : "%property{host}", 
							"thread" : "%thread",
							"component": "%property{component}" 
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>

	<!-- Declares the Level at package level -->
	<logger name="io.codearcs" level="TRACE">
		<appender-ref ref="STASH" />
	</logger>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>